.footer {
    background-color: #FFF2F2;
    margin-top: 80px;
    padding-block: 50px;

    &__body {
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 30px;
            justify-items: center;
            justify-content: center;
            align-items: center;
        }
    }

    &__img {
        height: auto;

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 15%;

            @include mobile {
                width: 100%;
            }
        }
    }
}