.header-menu {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-inline: 30px;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 10px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    &__list {
        display: flex;
        column-gap: 50px;
        text-transform: uppercase;
        color: var(--color-dark-blue);
        justify-content: center;
        align-items: center;
        letter-spacing: 0.1rem;
        height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__actions {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    &__search {
        margin-left: 10px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-dark-blue);
        letter-spacing: 0.1rem;
    }

    @include tablet {
        &__list {
            column-gap: 20px;
        }
    }

    @include mobile {
        &__list {
            column-gap: 10px;
        }

        &__actions {
            justify-content: center;
        }

        & {
            flex-direction: column;
            row-gap: 15px;
            padding-block: 10px;
            margin-bottom: 15px;

        }
    }

    @include mobile-s {
        &__nav { 
            font-size: 10px;
        }
    }
}

.is-active {
    border-top: 2px solid var(--color-red);

    @include mobile {
        border-top: none;
    }
}