.services {
    margin-bottom: 20px;
    
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        column-gap: 15px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        p {
            color: var(--color-gray);
            font-size: 15px;
        }
    }

    &__title {
        color: var(--color-dark-blue);
        font-family: var(--font-family-accent);
        font-weight: 600;
        font-size: clamp(16px, 2.1vw, 19px);
    }

    @include tablet {
        &__body {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include mobile-s {
        &__body {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
}