:root {
    --color-blue: #2E3192;
    --color-dark-blue: #1E2D78;
    --color-light-blue: #EEF7FF;
    --color-light: #ffffff;
    --color-red:#DD3333;
    --color-orange: #F4572E;
    --color-gray: #8A8A8A;
    --color-light-pink: #FDEAEA;
    --color-gray-alternate: #656565;


    --font-family-base: 'Open Sans', sans-serif;
    --font-family-accent: 'Catamaran', sans-serif;

    --input-height: 50px;
    --input-padding: 15px 22px;
    --input-border: 2px solid #DCE6F5;

    --border-radius: 5px;

    --container-width: 1300px;
    --container-padding-x: 15px;
    
    --transition-duration: 0.2s;

    --header-height: 40px;
    --header-menu-height: 100px;

    @include desktop {
        --section-padding-y: 50px;
    }

    @include mobile {
        --section-padding-y: 30px;
    }
}

