@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Catamaran";
  src: url("./fonts/Catamaran-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-blue: #2E3192;
  --color-dark-blue: #1E2D78;
  --color-light-blue: #EEF7FF;
  --color-light: #ffffff;
  --color-red:#DD3333;
  --color-orange: #F4572E;
  --color-gray: #8A8A8A;
  --color-light-pink: #FDEAEA;
  --color-gray-alternate: #656565;
  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Catamaran", sans-serif;
  --input-height: 50px;
  --input-padding: 15px 22px;
  --input-border: 2px solid #DCE6F5;
  --border-radius: 5px;
  --container-width: 1300px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
  --header-height: 40px;
  --header-menu-height: 100px;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(12px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2, .h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3, .h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.header-intro {
  height: 40px;
  background-color: var(--color-blue);
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding-inline: 20px;
}
.header-intro__left, .header-intro__right {
  display: flex;
  column-gap: 40px;
}
@media (hover: hover) {
  .header-intro__left a:hover, .header-intro__right a:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .header-intro__left a:active, .header-intro__right a:active {
    opacity: 0.7;
  }
}
.header-intro__right--tel, .header-intro__right--address {
  position: relative;
}
.header-intro__right--tel::before {
  content: "";
  position: absolute;
  background: url(../../img/icons/tel.svg) center/contain no-repeat;
  color: var(--color-light);
  width: 100%;
  height: 100%;
  left: -67%;
}
.header-intro__right--address::before {
  content: "";
  position: absolute;
  background: url(../../img/icons/map.svg) center/contain no-repeat;
  color: var(--color-light);
  width: 100%;
  height: 100%;
  left: -56%;
}
@media (max-width: 1023px) {
  .header-intro__right {
    column-gap: 25px;
  }
}
@media (max-width: 480px) {
  .header-intro__right--tel::before, .header-intro__right--address::before {
    display: none;
  }
}
@media (max-width: 1023px) {
  .header-intro {
    column-gap: 10px;
  }
  .header-intro__left {
    column-gap: 10px;
  }
}
@media (max-width: 767px) {
  .header-intro {
    height: 50px;
    font-size: 11px;
    flex-direction: column;
    row-gap: 5px;
    padding-block: 5px;
  }
  .header-intro__right {
    column-gap: 15px;
  }
  .header-intro__right--address {
    margin-left: 15px;
  }
}
@media (max-width: 480px) {
  .header-intro__right {
    font-size: 10px;
    padding-inline: 10px;
    text-align: center;
    justify-content: center;
  }
}

.intro {
  font-style: normal;
}

.header-menu {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding-inline: 30px;
}
.header-menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 10px;
}
.header-menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.header-menu__list {
  display: flex;
  column-gap: 50px;
  text-transform: uppercase;
  color: var(--color-dark-blue);
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  height: 100%;
}
.header-menu__item {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-menu__actions {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.header-menu__search {
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-dark-blue);
  letter-spacing: 0.1rem;
}
@media (max-width: 1023px) {
  .header-menu__list {
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .header-menu__list {
    column-gap: 10px;
  }
  .header-menu__actions {
    justify-content: center;
  }
  .header-menu {
    flex-direction: column;
    row-gap: 15px;
    padding-block: 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .header-menu__nav {
    font-size: 10px;
  }
}

.is-active {
  border-top: 2px solid var(--color-red);
}
@media (max-width: 767px) {
  .is-active {
    border-top: none;
  }
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-light-pink);
  padding: 15px;
  color: var(--color-dark-blue);
  width: 49px;
  height: 49px;
}

.button {
  background-color: var(--color-blue);
  color: var(--color-light);
  letter-spacing: 0.2rem;
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px;
  border-radius: var(--border-radius);
  border: none;
  width: 186px;
  height: 56px;
  font-weight: 600;
  transition-duration: var(--transition-duration);
}
.button.white {
  background-color: var(--color-light);
  color: var(--color-blue);
}
@media (hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .button:active {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .button {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .button {
    width: 130px;
    font-size: 10px;
  }
}

.banner {
  height: 74vh;
}
.banner__wrapper {
  background: url("../img/banner.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.banner__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 780px;
  width: 100%;
  position: absolute;
  top: 48%;
  left: 36%;
  translate: -50% -50%;
  margin-left: 30px;
}
.banner__title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--color-orange);
  border-radius: var(--border-radius);
  width: 168px;
  padding-block: 5px;
  height: 29px;
}
.banner__title h2 {
  letter-spacing: 0.1rem;
  font-size: 13px;
  color: var(--color-light);
  margin: 0;
}
.banner__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 95%;
}
.banner__info--first-part, .banner__info--second-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-dark-blue);
  font-weight: 600;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  height: 70px;
  padding: 10px;
  font-size: clamp(12px, 4.5138888889vw, 65px);
}
.banner__info--first-part {
  width: 10.5em;
}
.banner__info--second-part {
  width: 9.2em;
}
.banner__info--buttons {
  display: flex;
  column-gap: 15px;
}
@media (max-width: 1023px) {
  .banner__body {
    left: 46%;
  }
}
@media (max-width: 767px) {
  .banner {
    padding-top: 15px;
  }
  .banner__body {
    padding-left: 15px;
  }
  .banner__info--first-part, .banner__info--second-part {
    height: 45px;
  }
  .banner__info--second-part {
    width: 10em;
  }
}
@media (max-width: 480px) {
  .banner__info {
    row-gap: 5px;
  }
  .banner__info--buttons {
    flex-direction: column;
    row-gap: 10px;
  }
  .banner__info--first-part, .banner__info--second-part {
    height: 40px;
  }
  .banner__info--first-part {
    width: 11em;
  }
}

.dot {
  color: var(--color-red) !important;
}

.working-hours__body {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin-block: 100px;
}
@media (max-width: 1280px) {
  .working-hours__body {
    row-gap: 30px;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .working-hours__body img {
    width: 60%;
    height: auto;
  }
}
.working-hours__pick-dentist {
  display: flex;
  flex-direction: column;
  max-width: 433px;
  width: 100%;
}
.working-hours__pick-dentist--img {
  display: flex;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.working-hours__pick-dentist--title {
  color: var(--color-dark-blue);
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: clamp(10px, 1.875vw, 27px);
}
.working-hours__pick-dentist--title:not(:last-child) {
  margin-bottom: 15px;
}
.working-hours__pick-dentist p {
  color: var(--color-gray);
  font-size: 15px;
  line-height: 1.5;
  width: 394px;
}
.working-hours__pick-dentist--link {
  color: var(--color-dark-blue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
@media (hover: hover) {
  .working-hours__pick-dentist--link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .working-hours__pick-dentist--link:active {
    opacity: 0.7;
  }
}
.working-hours__pick-dentist--link::after {
  content: "";
  position: absolute;
  background: url("../img/icons/small-arr-right.svg") center/contain no-repeat;
  top: 0%;
  left: 11em;
  translate: -50% -50%;
  background-size: 10px;
  border-radius: 50%;
  border-color: transparent;
  border: 1px dashed var(--color-dark-blue);
  width: 36px;
  aspect-ratio: 1;
}
@media (max-width: 480px) {
  .working-hours__pick-dentist--link::after {
    width: 25px;
    left: 10.2em;
    top: 0.3rem;
  }
}
@media (max-width: 480px) {
  .working-hours__pick-dentist {
    align-items: center;
    width: 27em;
  }
  .working-hours__pick-dentist--title {
    font-size: 14px;
  }
  .working-hours__pick-dentist p {
    font-size: 12px;
    width: 70%;
  }
}
.working-hours__pluses {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 433px;
  row-gap: 20px;
}
.working-hours__pluses--img {
  flex-shrink: 0;
}
.working-hours__pluses--list {
  color: var(--color-gray);
  font-size: 15px;
}
.working-hours__pluses--item {
  position: relative;
  padding-left: 30px;
}
.working-hours__pluses--item:not(:last-child) {
  margin-bottom: 10px;
}
.working-hours__pluses--item::before {
  content: "";
  position: absolute;
  background: url(../../img/icons/plus.svg) center/contain no-repeat;
  width: 30px;
  height: 11px;
  bottom: 0%;
  left: 6%;
  translate: -50% -50%;
}
@media (max-width: 480px) {
  .working-hours__pluses {
    align-items: center;
  }
}
.working-hours__schedule {
  max-width: 413px;
  width: 100%;
  background-color: var(--color-light-pink);
  padding-top: 30px;
  border-radius: var(--border-radius);
}
.working-hours__schedule--title {
  font-family: var(--font-family-accent);
  font-weight: 600;
  color: var(--color-dark-blue);
  text-align: center;
  font-size: clamp(12px, 2.4305555556vw, 35px);
}
.working-hours__schedule--title:not(:last-child) {
  margin-bottom: 20px;
}
.working-hours__schedule--table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-collapse: collapse;
  line-height: 2.5;
}
.working-hours__schedule--table th {
  color: var(--color-gray-alternate);
  font-weight: normal;
  font-size: 15px;
}
.working-hours__schedule--table td {
  text-transform: uppercase;
  color: var(--color-gray-alternate);
}
.working-hours__schedule--table tr {
  text-align: left;
}
.working-hours__schedule--call-us {
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
@media (hover: hover) {
  .working-hours__schedule--call-us a:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .working-hours__schedule--call-us a:active {
    opacity: 0.7;
  }
}

.services {
  margin-bottom: 20px;
}
.services__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}
.services__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__item {
  display: flex;
  column-gap: 15px;
}
.services__description {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.services__description p {
  color: var(--color-gray);
  font-size: 15px;
}
.services__title {
  color: var(--color-dark-blue);
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: clamp(16px, 2.1vw, 19px);
}
@media (max-width: 1023px) {
  .services__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .services__body {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video {
  margin-top: 40px;
}
.video__body {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-blue);
  column-gap: 20px;
}
@media (max-width: 1023px) {
  .video__body {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 2200px) {
  .video__body {
    justify-content: center;
  }
}
.video__description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 532px;
  padding-left: 15px;
}
.video__description--wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 902px;
  width: 100%;
}
@media (max-width: 2200px) {
  .video__description--wrapper {
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  .video__description {
    padding-top: 15px;
  }
}
.video__pre-title {
  color: var(--color-red);
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.video__title {
  color: var(--color-dark-blue);
  font-weight: 600;
  font-family: var(--font-family-accent);
  font-size: clamp(16px, 3vw, 42px);
  margin-bottom: 10px;
}
.video__specification {
  color: var(--color-gray-alternate);
  font-size: 15px;
}
.video__play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__play--button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: transparent;
  border: 1px solid var(--color-light);
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 1;
}
.video__play--button::after {
  content: "";
  position: absolute;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-light);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}
@media (hover: hover) {
  .video__play--button:hover {
    border: 1px solid var(--color-red);
  }
}
@media (hover: none) {
  .video__play--button:active {
    border: 1px solid var(--color-red);
  }
}
.video__poster {
  width: 100%;
  max-width: 1017px;
  height: auto;
}

.clients {
  margin-top: 50px;
}
.clients__body {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}
.clients__pre-title {
  color: var(--color-red);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.clients__title {
  color: var(--color-dark-blue);
  font-weight: 600;
  font-family: var(--font-family-accent);
  font-size: clamp(16px, 3vw, 42px);
  margin-bottom: 10px;
}
.clients__post-title {
  color: var(--color-gray);
  font-size: 15px;
}
@media (max-width: 480px) {
  .clients__post-title {
    text-align: center;
  }
}
.clients__avatar {
  margin-top: 50px;
  position: relative;
}
.clients__avatar--title {
  color: var(--color-dark-blue);
  font-weight: 600;
  font-family: var(--font-family-accent);
  font-size: clamp(12px, 1.7vw, 27px);
}
.clients__avatar--description {
  color: var(--color-gray);
  font-size: 15px;
}
.clients__avatar--name {
  color: var(--color-red);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.clients__avatar::before, .clients__avatar::after {
  content: "";
  background-color: transparent;
  position: absolute;
  translate: -50% -50%;
  width: 11px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
}
.clients__avatar::before {
  background: url("../../img/icons/small-arr-left.svg") center/contain no-repeat;
  left: 0em;
  margin-left: 15px;
}
.clients__avatar::after {
  background: url("../../img/icons/small-arr-right.svg") center/contain no-repeat;
  right: 0em;
}
.clients__img {
  position: relative;
}
.clients__list {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .clients__list {
    flex-direction: column;
    row-gap: 10px;
  }
}
.clients__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.clients__item::after {
  content: "99";
  background-color: var(--color-blue);
  position: absolute;
  top: 6%;
  right: 7em;
  translate: -50% -50%;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  color: var(--color-light);
  display: block;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1280px) {
  .clients__item::after {
    right: 25%;
  }
}
@media (max-width: 1023px) {
  .clients__item::after {
    right: 17%;
  }
}
@media (max-width: 767px) {
  .clients__item::after {
    right: 6%;
  }
}
@media (max-width: 480px) {
  .clients__item::after {
    right: 27%;
  }
}
.clients__dots {
  display: flex;
  column-gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.clients__dots--red, .clients__dots--sky, .clients__dots--blue {
  aspect-ratio: 1;
  border-radius: 50%;
}
.clients__dots--red {
  width: 8px;
  background-color: var(--color-red);
}
.clients__dots--sky {
  width: 14px;
  background-color: #CAE3F9;
}
.clients__dots--blue {
  width: 8px;
  background-color: var(--color-blue);
}

.direction {
  background-color: var(--color-light-pink);
}
.direction__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.direction__list {
  display: flex;
  column-gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #FFE1E1;
}
.direction__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-dark-blue);
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: clamp(12px, 1.2vw, 19px);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .direction__item:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .direction__item:active {
    opacity: 0.7;
  }
}
.direction__item p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}
.direction__item--active {
  border-bottom: 2px solid var(--color-red);
}
.direction__main {
  display: flex;
  column-gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 60px;
}
.direction__description {
  width: 572px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 10px;
  text-align: left;
}
.direction__title {
  color: var(--color-dark-blue);
  font-family: var(--font-family-accent);
  font-weight: 600;
  font-size: clamp(18px, 2.2vw, 35px);
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.direction__definition {
  font-size: clamp(16px, 1.2vw, 19px);
}
.direction__definition, .direction__post-definition {
  color: var(--color-gray-alternate);
  text-align: justify;
}
.direction__post-definition {
  font-size: clamp(14px, 1vw, 15px);
}
.direction__img-wrapper {
  width: 44%;
}
.direction__img {
  display: flex;
  flex-shrink: 0;
  height: auto;
  align-items: flex-start;
  justify-content: flex-end;
  height: auto;
}
@media (max-width: 767px) {
  .direction__main {
    flex-direction: column;
    row-gap: 20px;
  }
  .direction__description, .direction__title, .direction__main {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .direction__description {
    width: 90%;
  }
}

.discount {
  background-color: var(--color-blue);
  color: var(--color-light);
  margin-top: 80px;
  height: 213px;
}
.discount__body {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.discount__description {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: flex-start;
  justify-content: center;
}
.discount__title {
  font-family: var(--font-family-accent);
  font-size: clamp(14px, 2.8vw, 35px);
  font-weight: 600;
}
.discount__accent {
  color: var(--color-orange);
  font-weight: 400;
}
.discount__definition {
  font-size: clamp(12px, 1.9vw, 19px);
}
@media (max-width: 480px) {
  .discount__body {
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .discount__description {
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */